.inputfile {
    width: 0.1px;
    /* height: 0.1px; */
    opacity: 0;
    /* overflow: hidden; */
    position: absolute;
    /* z-index: -1; */
}

.inputfile + label {
    /* max-width: 80%; */
    /* 20px */
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    cursor: pointer;
    /* display: inline-block; */
}

.inputfile-4 + label {
    color:white;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: white;
}

.inputfile-4 + label figure {
    display: block;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color:white;
}

.inputfile-4 + label svg {
    fill: black;
}


.message.form-control {
    width:100vh
}